/* css-listofislamicfigures */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 2px;
    background-image: url('picture 2.webp');
}

header {
    background: #e8d1c5;
    color: #0A0A0A;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
}

nav ul ul {
    position: absolute;
    top: 100%; /* Position just below the parent list item */
    left: 0;
    background: #333;
    display: none; /* Hide the dropdown by default */
}

nav ul ul li {
    display: block; /* Stack the dropdown items vertically */
}

nav ul li:hover > ul {
    display: block; /* Show the dropdown on hover */
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #FFE8E5;
	font-style: italic;
	text-align: center;
}



footer {
    background: #e8d1c5;
    color: #0A0A0A;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}