/* css-index */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 2px;
	background-image: url('b.jpg');
	text-align: center;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:100%;
}

header {
    background: #e8d1c5;
    color: #0A0A0A;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;

}

nav ul li {
    display: inline;
    margin-right: 10px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
	
}

nav ul ul {
    position: absolute;
    top: 100%; /* Position just below the parent list item */
    left: 0;
    background: #333;
    display: none; /* Hide the dropdown by default */
}

nav ul ul li {
    display: block; /* Stack the dropdown items vertically */
}

nav li a:hover:not(.active) {
  background-color: #ddd;
}



section {
    margin: 60px 10px;
    padding: 40px;
    background: #dab894;
	font-style: oblique;
	
}

footer {
    background: #e8d1c5;
    color: #0A0A0A;
    text-align: center;
    padding: 15px;
    position: center;
    width: 100%;
    bottom: 0;
}